h1{
    font-size: 28px;
    font-weight: lighter;
    margin: 20px 0px 20px 0px;
}

a.btn-cadastrar{
    background: #ccc;
    padding: 25px 20px;
    color: #fff;
    float: left;
    font-weight: bold;
}

a.btn-cadastrar:hover{
    background: #c0c0c0;
    padding: 25px 20px;
    color: #000;
    font-weight: bold;
    float: left;
}

.icons{
    color: #000;
    padding: 5px 10px 5px 10px;
    
}

.acoes{
    text-align: center;
    width: 100px;
}
